.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scrape/pd-mysql.ipynb
scrape/.ipynb_checkpoints/pd-mysql-checkpoint.ipynb
scrape/.ipynb_checkpoints/to-CSV-checkpoint.ipynb
py-scraper/.ipynb_checkpoints/pd-sql-checkpoint.ipynb
py-scraper/pd-sql.ipynb
